name: Upload plugins to S3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:

  upload:
    name: "Upload plugins to AWS S3"
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: AWS S3 Github Action
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: plugins
          destination: s3://mynative-plugins/
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: eu-east-1
